html{
    height: 100%;
}

body{
    height:100%;
    margin: 0;
}
.lb {
    display: flex;
    position: fixed;
    width: 200%;
    height: 100%;
    top: 0;
    left: -50%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: .3s opacity ease;
    z-index: -1;
}

.lb img {
    max-width: 100%;
    width:auto;
    height: 100%;
    transform: scale(.7);
    transition: .4s transform ease;
    pointer-events: none;
}

.lb:target {
    opacity: 1;
    z-index: 103;
}

.lb:target img {
    transform: scale(1);
}


